.tutorial_box_light {
  background-color: white;
}

.tutorial_box_dark {
  background: #272727;
}

.tutorial_box {
  width: 99%;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
  max-height: 300px;
  position: relative;
}

.tutorial_title {
  margin-bottom: 2px;
  margin-top: 2px;
  text-decoration: underline;
}

.tutorial_link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.new_thread_button {
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px auto;
  border: none;
  padding: 10px;
  font-size: 13pt;
  opacity: 1;
  transition: all .5s ease;
  max-height: 150px;
}

.hidden {
  opacity: 0;
  transition: all .5s ease;
  margin: 0;
  padding: 0;
  max-height: 0;
}

form {
  max-height: 500px;
  opacity: 1;
  transition: all .5s ease;
}

#title_input {
  display: block;
  width: 100%;
  padding: 5px;
}

#content_input {
  resize: none;
  height: 200px;
  width: 100%;
  display: block;
  margin: 10px 0;
}

#thread_create_button {
  width: 49%;
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  border: none;
  padding: 10px;
  font-size: 13pt;
}
