.tutorial_box_light {
  background-color: white;
}

.tutorial_box_dark {
  background: #272727;
}

.tutorial_box {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
}

.tutorial_title {
  margin-bottom: 2px;
  margin-top: 2px;
  text-decoration: underline;
}

.tutorial_preview {
  margin: 10px;
}
