#game_description {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#indexSplash {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

#votd {
  width: 80%;
  text-align: center;
  margin: 10px auto
}
