.body_light {
  background-color: #e9eaec;
}

.aside_light {
  background-color: #b6e0f6;
}

.header_light {
  background-color: #b6e0f6;
}

.text_light {
  color: black;
}

.alt_text_light {
  color: white;
}

.sidebar_button_light {
  background-color: #70cdf4;
  border: none;
}

.chatbot_window_light {
  background-color: #70cdf4;
}

.tutorial_link_light {
  color: #b6e0f6;
  background: linear-gradient(transparent 28%,rgba(255,255,255,0.46) 52%, white 80%);
}
