@media only screen and (min-width: 450px) {
  .chatbot_window {
    width: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .chatbot_window {
    width: 200px;
  }
}
@media only screen and (min-height: 500px) {
  .full_chatbot_win {
    height: 300px !important;
  }
  #chat_message_space {
    height: 225px;
  }
}
@media only screen and (max-height: 500px) {
  .full_chatbot_win {
    height: 185px !important;
  }
  #chat_message_space {
    height: 110px;
  }
}

#chatbot_input {
  border: none;
  border-top: 1px solid grey;
}

#chat_message_space {
  overflow-y: auto;
  padding: 2px;
}

#chatbot_send_button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  color: blue;
  font-weight: bold;
  border: none;
  border-top: 1px solid grey;
}

#chatbot_title {
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 8px;
}

#chatbot_window {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 990;
  background-color: white;
  height: 35px;
}

.chatbot_window {
  border-top-left-radius: 15px;
  transition: all .3s ease;
}
