.body_dark {
  background-color: #161513;
}

.aside_dark {
  /*Was 950000*/
  background-color: #373737;
}

.header_dark {
  background-color: #373737;
}

.text_dark {
  color: white;
}

.alt_text_dark {
  color: white;
}

.sidebar_button_dark {
  /*Was 800000*/
  background-color: #272727;
  border: none;
}

.chatbot_window_dark {
  background-color: #272727;
}

.tutorial_link_dark {
  color: #950000;
  background: linear-gradient(transparent 28%,rgba(39,39,39,0.46) 52%, #272727 80%);
}

.textarea_dark {
  border-color: black;
  background: #272727;
}
