header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 105px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

article {
  position: absolute;
  left: 105px;
  top: 105px;
  padding: 20px 5%;
  width: calc(90% - 105px);
}

a {
  text-decoration: none;
  display: inline-
}

.sidebar {
  transition: width 0.3s ease 0.2s;
}

aside {
  width: 105px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 105px;
  z-index: 998;
  display: inline-block;
  float: left;
}

table, tr, td {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  height: 105px;
}

td {
  text-align: center;
}

.sidebar_button {
  width: 105px;
  height: 105px;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar_button > img {
  width: 75px;
  height: 75px;
  margin: auto;
}

.sidebar_icon {
  height: 72px;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}

.sidebar_icon > a {
  width: 100%;
  display: inline-block;
}

aside > ul {
  padding: 0;
  margin: 0;
}

#blocker {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 105px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 99;
}

.icon_link {
  display: inline-block;
  margin: 20px 10px;
  font-size: 20pt;
  opacity: 0;
  visibility: hidden;
  vertical-align: top;
  transition: opacity 0.2s ease;
}

.full_aside {
  transition: width 0.3s ease;
}

@media only screen and (min-width: 450px) {
.full_aside {
    width: 400px;
  }
  .icon_link {
    font-size: 20pt;
  }
}
@media only screen and (max-width: 450px) {
  .full_aside {
    width: 80%;
  }
  .icon_link {
    font-size: 12pt;
  }
}

h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
}

@media only screen and (min-width: 560px) {
  #header_title {
    font-size: 45pt;
  }
  article {
    padding: 20px 5%;
  }
}
@media only screen and (max-width: 560px) {
  #header_title {
    font-size: 32pt;
  }
  article {
    padding: 20px 3%;
  }
}

.message {
  border-radius: 15px;
  padding: 3px 10px;
  display: block;
  overflow-wrap: break-word;
  margin: 3px 0;
  max-width: 70%;
}
.message_container {
  width: 100%;
  display: inline-block;
}

.bot_message {
  float: left;
  color: white;
}

.user_message {
  float: right;
  text-align: right;
}

.login_buttons {
  display: block;
  width: 70%;
  margin: 5px auto;
  padding: 10px 5px;
  border: none;
}

.text_sized {
  font-size: calc(14px + .5vmin);
}
