.tutorial_box_light {
  background-color: white;
}

.tutorial_box_dark {
  background: #272727;
}

.tutorial_box {
  margin: 0 10%;
  width: 80%;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
}

.tutorial_title {
  margin-bottom: 2px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: normal;
  font-style: italic;
}

.tutorial_preview {
  margin: 20px 10%;
}

.tutorial_link {
  position: absolute;
  width: 99%;
  bottom: 0;
}
