#file_uploader {
  display: none;
}

#profile_img, #profile_container {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  position: relative;
  transition: .5s ease;
  display: inline-block;
}

#profile_container:hover .overlay {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius: 50%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
