.tutorial_box_light {
  background-color: white;
}

.tutorial_box_dark {
  background: #272727;
}

.tutorial_box {
  margin: 0;
  width: 100%;
  position: relative;
  margin-bottom: -19px;
}

.tutorial_title_dark {
  background-color: #575757;
}

.tutorial_title {
  font-weight: normal;
  padding: 5px;
  margin-bottom: 0;
}

.tutorial_preview {
  margin: 20px 10%;
}

.tutorial_link {
  position: absolute;
  width: 99%;
  bottom: 0;
}

.user_detail {
  width: 16%;
  padding: 5px;
}

.post_info {
  padding-top: 20px;
  text-align: left;
  padding: 5px;
  padding-bottom: 12px;
}

#reply_content, .reply_content {
  width: 100%;
  resize: vertical;
  overflow-y: scroll;
  height: 200px;
}

.tutorial_box > table {
  width: 100%;
}

.post_info > .sidebar_button_light, .post_info > .sidebar_button_dark {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.edit_button_light {
  border: 1px solid gray;
}

.edit_button_dark {
  border: 1px solid white;
}

.edit_button_light:hover {
  background-color: lightgray;
}

.edit_button_dark:hover {
  background-color: #484848;
}

.edit_button {
  transition: all 0.3s ease;
  background-color: inherit;
  /*text-decoration: underline;*/
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.transition {
  transition: max-height 0.4s ease, opacity 0.2s ease 0.3s;
}

.hider {
  visibility: hidden;
  opacity: 0;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.delete_hider {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}
