.comment_dark {
  background-color: #373737;
}

.comment_light {
  background-color: white;
}

.comment {
  width: 80%;
  margin: 10px auto;
  padding: 5px 20px;
  position: relative;
}

.tutorial_image {
  width: 80%;
  margin: 0 10%;
}

.image_caption {
  width: 75%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 40px;
}

#reply_content, .reply_content {
  width: 100%;
  resize: none;
  overflow-y: scroll;
  height: 125px;
}

#comment_button, .comment_button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.edit_button_light {
  border: 1px solid gray;
}

.edit_button_dark {
  border: 1px solid white;
}

.edit_button_light:hover {
  background-color: lightgray;
}

.edit_button_dark:hover {
  background-color: #484848;
}

.edit_button {
  transition: all 0.3s ease;
  background-color: inherit;
  /*text-decoration: underline;*/
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#comm_sep {
  width: 80%;
}

.img_td {
  width: 80px;
  padding-right: 15px;
}

.hider_light {
  background-color: white;
}

.hider_dark {
  background-color: #373737;
}

#hider, .hider {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  transition: opacity 0.1s ease;
}

.transition {
  transition: all 0.4s ease;/*max-height 0.4s ease, opacity 0.2s ease;*/
}
