.tutorial_box_light {
  background-color: white;
}

.tutorial_box_dark {
  background: #272727;
}

.tutorial_box {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
  /*Make this 50% of the width*/
  max-height: 300px;
  position: relative;
}

.tutorial_title {
  margin-bottom: 2px;
  margin-top: 2px;
  font-style: italic;
}

.tutorial_preview {
  margin: 20px 5%;
}

.tutorial_link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
