{%include header_nochatbot.html%}
  <link rel="stylesheet" href="/static/css/index.css">
  <style>
    #chatbot_input {
      border: none;
      border-top: 1px solid grey;
      position: fixed;
      bottom: 0;
      width: calc(100% - 105px);
      height: 40px;
    }
    #chatbot_send_button {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 40px;
      width: 15vw;
      color: blue;
      font-weight: bold;
      border: none;
      border-top: 1px solid grey;
    }
  </style>
  <article style="padding: 0;width: calc(100% - 105px);">
    <div id="chat_message_space" style="max-height: 100%; padding: 5px; margin-bottom: 40px;">

    </div>
    <input id="chatbot_input" placeholder="Type Message Here">
      <button id="chatbot_send_button" type="button">Send</button>
    </input>
  </article>
  <script>
    window.onload = function() {
      document.getElementById('chatbot_input').onkeypress = function(event) {
        // Enter key has been pressed
        if (event.keyCode == 13 && this.value != "") {
          sendMessage(this.value);
          this.value = '';
        }
      }

      document.getElementById('chatbot_send_button').onclick = function(event) {
        input = document.getElementById('chatbot_input');
        if (input.value != "") {
          sendMessage(input.value);
          input.value = "";
        }
      }
    }

    function sendMessage(value) {
      addMessage(value, false);
      fixColour();

      // Send an AJAX request and parse the response into the DOM
      var xmlhttp = new XMLHttpRequest();

      xmlhttp.onload = function() {
        if (this.status == 200) {
          response = this.responseText;

          // Add the response to the message space
          addMessage(response, true);
          fixColour();

          window.scrollTo(0, window.scrollMaxY)

        }
      }

      xmlhttp.open("POST", "/message", true);
      xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xmlhttp.send("message=" + value);
    }

    function fixColour() {
      messages = document.getElementsByClassName("user_message");
      if ("{{theme}}" == "light") {
        colour = 'white';
      } else {
        colour = 'black';
      }
      for (var i=0; i < messages.length; i++) {
        messages[i].style.background = colour;
      }
    }
  </script>
</body>
</html>
