{%include header.html%}
  <link rel="stylesheet" href="/static/css/index.css">
  <article>
    <h2 class="text_{{theme}}">Error {{code}}</h2>
    <p class="text_{{theme}}">{{message}}</p>
    <a class="text_{{theme}}" href="/">Return to Home page</a>
  </article>
</body>
</html>
