{%include header.html%}
  <link rel="stylesheet" href="/static/css/forum.css">
  <script>
  function showThread() {
    button = document.getElementById('form_show_button');
    button.classList.add('hidden');

    form = document.getElementById('form');
    form.classList.remove('hidden');
  }

  function hideThread() {
      button = document.getElementById('form_show_button');
      button.classList.remove('hidden');

      form = document.getElementById('form');
      form.reset();
      form.classList.add('hidden');
  }
  </script>
  <article>
    <h1 class="text_{{theme}}" style="margin-bottom: 0;text-decoration: underline;">Topic {{topic.values['id']}}: {{topic.values['title']}}</h1>
    <p style="margin: 0" class="text_sized text_{{theme}}">Please post threads in the appropriate forum below.</p>
    <p style="margin: 0" class="text_sized text_{{theme}}">Any spam threads will be removed, and any poorly placed threads will be moved to the appropriate forum.</p>
    <p style="margin: 0;margin-bottom: 15px;" class="text_sized text_{{theme}}">If you don't know where to post, please post in the "General Discussion" forum.</p>
    <hr>

    {% if user %}
    <button id="form_show_button" class="new_thread_button text_{{theme}} sidebar_button_{{theme}}" title="Create New Thread" onclick="showThread()">
      <span style="font-size: 20pt; font-weight: bold;">+</span> Create Thread
    </button>

    <form id="form" class="hidden" method="post">
      <h2 style="text-decoration: underline; margin-bottom: 5px" class="text_{{theme}}">Create New Thread</h2>
      <input class="textarea_{{theme}} text_{{theme}}" type="text" id="title_input" name="title" placeholder="Thread Title"></input>
      <textarea class="text_{{theme}} textarea_{{theme}}" placeholder="Type your post here..." name="post_content" id="content_input"></textarea>
      <div style="text-align: center">
        <button class="text_{{theme}} sidebar_button_{{theme}}" id="thread_create_button">Create</button>
        <button type="button" class="text_{{theme}} sidebar_button_{{theme}}" id="thread_create_button" onclick="hideThread()">Cancel</button>
      </div>
      <hr>
    </form>
    <script>
      url = document.URL.split('/');
      document.getElementById('form').action = '/create_thread/' + url[url.length-2];
    </script>
    {% end if %}

    {% for t in threads %}
      <div class="tutorial_box tutorial_box_{{theme}}">
        <h2 class="text_{{theme}} tutorial_title">{{t.values['title']}}</h2>
        <div class="text_{{theme}} tutorial_preview">
          {% if t.latest_post %}
            {{safe t.latest_post.get_preview()}}
          {% end if %}

        </div>
        <a class="tutorial_link tutorial_link_{{theme}}" href="/forum/{{topic.values['id']}}/{{t.values['id']}}/">
          <h3 style="margin-bottom: 5px;font-size: 12pt;position: absolute;bottom: 0;width: 100%;text-align: center">View More</h3>
        </a>
      </div>
    {% end for %}

  </article>
</body>
</html>
