{%include header.html%}
  <link rel="stylesheet" href="/static/css/forum_index.css">
  <article>
    <p style="margin: 0" class="text_sized text_{{theme}}">Please post threads in the appropriate forum below.</p>
    <p style="margin: 0" class="text_sized text_{{theme}}">Any spam threads will be removed, and any poorly placed threads will be moved to the appropriate forum.</p>
    <p style="margin: 0;margin-bottom: 15px;" class="text_sized text_{{theme}}">If you don't know where to post, please post in the "General Discussion" forum.</p>
    <hr>

    {% for t in topics %}
      <a style="color: black" href="/forum/{{t.values['id']}}/">
        <div class="tutorial_box tutorial_box_{{theme}}">
          <h2 class="text_{{theme}} tutorial_title">{{t.values['title']}}</h2>
          <div class="text_{{theme}} tutorial_preview">
            <p>{{t.values['blurb']}}</p>
          </div>
        </div>
      </a>
    {% end for %}

    <!-- <a style="color: black" href="/forum/1">
      <div class="tutorial_box">
        <h2 class="tutorial_title">Game Discussion</h2>
        <div class="tutorial_preview">
          <p>This forum is here for discussion related to gameplay, in-game events and the formation of alliances/factions within M.A.T.A.</p>
        </div>
      </div>
    </a>

    <a style="color: black" href="/forum/1">
      <div class="tutorial_box">
        <h2 class="tutorial_title">Modding</h2>
        <div class="tutorial_preview">
          <p>This forum is for discussion pertaining to the development of feature modifictions for M.A.T.A. Helpful discussion and user-made tutorials belong here. Please check tutorials before posting.</p>
        </div>
      </div>
    </a>

    <a style="color: black" href="/forum/1">
      <div class="tutorial_box">
        <h2 class="tutorial_title">General Discussion</h2>
        <div class="tutorial_preview">
          <p>All miscellaneous discussion belongs here. Discussion about anything, related to M.A.T.A or not, belongs here.</p>
        </div>
      </div>
    </a>

    <a style="color: black" href="/forum/1">
      <div class="tutorial_box">
        <h2 class="tutorial_title">News And Announcements</h2>
        <div class="tutorial_preview">
          <p>This forum is to be used by server managers to release information about in-game events and give-aways.</p>
        </div>
      </div>
    </a> -->
  </article>
</body>
</html>
