<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main_light.css">
    <link rel="stylesheet" href="/static/css/main_dark.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{title}}</title>
    <script>currentState = '{{theme}}';</script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/chatbot.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon/apple-touch-icon.png?v=YAoL9Qgme6">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png?v=YAoL9Qgme6">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png?v=YAoL9Qgme6">
    <link rel="manifest" href="/static/img/icon/site.webmanifest?v=YAoL9Qgme6">
    <link rel="mask-icon" href="/static/img/icon/safari-pinned-tab.svg?v=YAoL9Qgme6" color="#54a7ff">
    <link rel="shortcut icon" href="/static/img/icon/favicon.ico?v=YAoL9Qgme6">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
  <head>
  <body class="body_{{theme}}">
    <header class="header_{{theme}}">
      <table style="width: 100%;">
        <tr>
          <td style="width: 105px;">
            <button class="sidebar_button sidebar_button_{{theme}}" title="Toggle Menu" onclick="toggleSidebar()"><img src="/static/img/button.png"></img></button>
          </td>
          <td>
            <div style="width:calc(83vw - 105px);margin-left:105px;overflow:hidden;height:105px;line-height:105px;">
              <h1 style="display: inline" id="header_title" class="text_{{theme}}">{{title}}</h1>
            </div>
          </td>
          <td style="width: 17%;">
            {% if user is None %}
              <button onclick="location.href='/login';" class="login_buttons sidebar_button_{{theme}} text_{{theme}}" style="margin-top: 15px;">Login</button>
              <button onclick="location.href='/signup';" class="login_buttons sidebar_button_{{theme}} text_{{theme}}">Signup</button>
            {% end if %}
            {% if user %}
              <button onclick="location.href='/logout';" class="login_buttons sidebar_button_{{theme}} text_{{theme}}">Logout</button>
            {% end if %}
          </td>
        </tr>
      </table>
    </header>
    <aside id="sidebar" class="sidebar aside_{{theme}}">
      <ul style="list-style: none">
        <li class="sidebar_icon">
          <a href="/" title="Home Page">
            <img class="sidebar_icon" src="/static/img/home.png"></img>
            <div class="icon_link alt_text_{{theme}}"> Home </div>
          </a>
        </li>
        <li class="sidebar_icon">
          <a href="/tutorials" title="Tutorials">
            <img class="sidebar_icon" src="/static/img/tutorials.png"></img>
            <div class="icon_link alt_text_{{theme}}"> Tutorials </div>
          </a>
        </li>
        <li class="sidebar_icon">
          <a href="/forum" title="Forum">
            <img class="sidebar_icon" src="/static/img/forum.png"></img>
            <div class="icon_link alt_text_{{theme}}"> Forum </div>
          </a>
        </li>
        <li class="sidebar_icon">
          <a href="/news" title="News">
            <img class="sidebar_icon" src="/static/img/news.png"></img>
            <div class="icon_link alt_text_{{theme}}"> News </div>
          </a>
        </li>
        <li class="sidebar_icon">
          <a href="/chatbot" title="Chat">
            <img class="sidebar_icon" src="/static/img/chatbot.png"></img>
            <div class="icon_link alt_text_{{theme}}"> Chat </div>
          </a>
        </li>
        {% if user %}
        <li class="sidebar_icon">
          <a href="/settings" title="Profile">
            <img class="sidebar_icon" src="/static/img/profile.png"></img>
            <div class="icon_link alt_text_{{theme}}"> Profile </div>
          </a>
        </li>
        {% end if %}
      </ul>
    </aside>
    <div id="blocker" style="visibility: hidden" onclick="toggleSidebar()"></div>
