    {%include header_nochatbot.html%}

    <link rel="stylesheet" href="/static/css/main_chatbot.css">

    <div id="chatbot_window" class="chatbot_window">
      <div style="height: 35px;" class="chatbot_window_{{theme}} chatbot_window">
        <a id="chatbot_title" class="text_sized text_{{theme}}" href="javascript:toggleChatbot()">^ Automated Assistance</a>
      </div>
      <div style="height: 100%">
        <div id="chat_message_space"></div>
        <div style="position: relative;">
          <input id="chatbot_input" type="text" placeholder="Type Message Here..." style="width: 100%;height: 40px;"></input>
          <button id="chatbot_send_button" type="button">Send</button>
        </div>
      </div>
    </div>
