  {%include header.html%}
    <link rel="stylesheet" href="/static/css/index.css">
    <article>
      <img width="80%" src="/static/img/index_splash.png" id="indexSplash" alt="Index Splash Screen"></img>
      <p class="text_{{theme}} text_sized" id="game_description">
        This website serves to promote the A-Pi project, a hardware and software system that is currently in development by my friend as part of both his Software Design & Development and Information Processes & Technology HSC major projects in 2017-18.
      </p>
      <br>
      <p class="text_{{theme}} text_sized" id="game_description">
        The A-Pi project aims to develop a low-cost device that can perform simple multimedia functions, like playing the radio, playing music, and acting as a storage device. However, by design, the software and hardware is designed to be easily extensible to allow intrepid users to develop additional hardware and software modules. Although the device will likely never be commercially available, the design specifications will be released upon finalisation, so that anyone will be able to create their own A-Pi device.
      </p>
      <br>
      <p class="text_{{theme}} text_sized" id="game_description">
        This website has a collection of tutorials, a discussion forum and a chatbot which are all designed to help users of the A-Pi to discover, use and install new features and modules. The website also enables developers for the A-Pi to create, collaborate and learn about developing software and hardware modules for the A-Pi device.
      </p>
      {% if votd == 'true' %}
        <span class="text_{{theme}}">
          <h4 style="text-align: center; margin-bottom: 0">Verse-of-the-Day:</h4>
          <p id="votd" class="text_{{theme}} text_sized">
            {{safe verseotd}}
            <p style="font-size: 8pt; text-align: center;">
              Verse-of-the-Day from NET Bible. Supplied by <a href="https://bible.org/">bible.org</a>
            </p>
          </p>
        </span>
      {% end if %}
    </article>
  </body>
</html>
