{%include header.html%}
  <link rel="stylesheet" href="/static/css/login.css">
  <article>
    <form method="post">
      <h2 style="color: red;text-align: center;">{{error}}</h2>
      <input class="input_boxes" name="username" placeholder="Username" type="text"></input>
      <input class="input_boxes" name="password" placeholder="Password" type="password"></input>
      {% if title != "Login"%}
        <input class="input_boxes" name="password_2" placeholder="Confirm Password" type="password"></input>
      {% end if %}

      <button class="sidebar_button_{{theme}}" style="border: none;margin: 20px auto; display: block; width: 140px; height: 50px;" type="submit">
        <p style="margin: 0" class="text_sized text_{{theme}}">{{title}}</p>
      </button>
    </form>
  </article>
</body>
</html>
