{%include header.html%}
  <link rel="stylesheet" href="/static/css/news.css">
  <script src="/static/js/markdown.js"></script>
  <article>
    {% if not len(releases) %}
      <div class="tutorial_box tutorial_box_{{theme}}">
        <h2 class="tutorial_title text_{{theme}}" style="text-decoration: none; text-align: center">No Available Releases</h2>
      </div>
    {% end if %}

    {% for release in releases%}
      <div class="tutorial_box tutorial_box_{{theme}}">
        <i><h2 class="tutorial_title text_{{theme}}">A-Pi, {{release['tag_name']}} Released!</h2></i>
        <p class="text_{{theme}}" style="font-size: 10pt; margin: 0; margin-left: 10px;">{{release['created_at']}}</p>
        <div class="news_body tutorial_preview text_{{theme}}">
{{release['body']}}
        </div>
        <h3 style="margin-left: 5%;" class="tutorial_title text_{{theme}}">Downloads:</h3>
        <a class="text_{{theme}}" style="display: block; color: blue;width: 80%; margin: 0 auto;" href="{{release['zipball_url']}}">
          {{release['zipball_url']}}
        </a>
        <p class="text_{{theme}}" style="font-weight: lighter;width: 80%; margin: 5px auto;">Note: Downloads are hosted on Github, not here. As such, links may change.</p>
      </div>
    {% end for %}

    <script>
      bodies = document.getElementsByClassName('news_body');
      for (i=0; i < bodies.length; i++) {
        // console.log(bodies[i].innerText);
        console.log(bodies[i].innerHTML);
        bodies[i].innerHTML = markdown.toHTML(bodies[i].innerHTML);
      }
    </script>

  </article>
</body>
</html>
