{%include header.html%}
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/settings.css">
  <script src="/static/js/settings.js"></script>
  <article>
    <form action="/settings" method="post" enctype="multipart/form-data" >

      <input type="file" name="file_uploader" id="file_uploader" accept="image/jpeg, image/png">
      <div id="profile_container">
        <label for="file_uploader">
          <img id="profile_img" src="/static/img/user/{{user.values['id']}}/icon.jpg">
          <div class="overlay">
            <div class="text">Upload Image</div>
          </div>
        </label>
      </div>

      <i style="display: inline-block;vertical-align: top;margin-top: 30px;margin-left: 25px;">
        <p class="text_sized text_{{theme}}">Username: {{user.values['username']}}</p>
        <p class="text_sized text_{{theme}}">Join Date: {{user.values['format_date']}}</p>

        <p style="display: inline" class="text_sized text_{{theme}}">Dark Theme:</p>
        <input name="theme" type="checkbox" onclick="toggleColour();" {%if theme == 'dark'%}checked="true"{%end if%}></input>

        <!-- <p style="display: inline" class="text_sized text_{{theme}}">Verse of the Day:</p>
        <input name="votd" type="checkbox" {% if votd == 'true' %}checked="true"{% end if %}></input> -->
      </i>

      <i><h2 class="text_sized text_{{theme}}">Forum Signature:</h2></i>
      <textarea name="signature" class="text_{{theme}} textarea_{{theme}}" style="resize: none;width: 100%; height: 180px;">{{user.values['signature']}}</textarea>

      <button class="sidebar_button_{{theme}}" style="border: none;margin: 5%; width: 140px; height: 50px;" type="submit">
        <p style="font-size: 15pt;margin: 0" class="text_{{theme}}">Save Profile</p>
      </button>
    </form>
  </article>
</body>
</html>
