{%include header.html%}
  <link rel="stylesheet" href="/static/css/thread.css">
  <script src="/static/js/thread.js"></script>
  <script>
    function redirect() {
      window.location.href = '..';
    }

    function deleteThread() {
      threadID = document.URL.split('/');
      threadID = threadID[threadID.length - 2];

      if (confirm('Are you certain you wish to delete this thread?')) {
        // Delete it.
        window.location.href = '/delete_thread/' + threadID;
      }
    }
  </script>
  <article>
      <button type="button" style="padding: 10px 40px;" class="text_sized text_{{theme}} sidebar_button_{{theme}}" onclick="redirect()">&lt-- Back to forum</button>

      {% if user and user.is_moderator() %}
      <button type="button" style="padding: 10px 40px;" class="text_sized text_{{theme}} sidebar_button_{{theme}}" onclick="deleteThread()">Delete Thread</button>
      {% end if %}

      {% for m in messages %}
      <div class="tutorial_box_{{theme}} tutorial_box">
        <h3 class="tutorial_title tutorial_title_{{theme}} sidebar_button_{{theme}} text_{{theme}}">Published: {{m.values['format_date']}}</h3>
        <table>
          <tr>
            <td class="user_detail header_{{theme}}">
              <p class="text_sized text_{{theme}}" style="overflow-wrap: break-word">{{m.get_user().values['username']}}</p>
              <div style="background: url('/static/img/user/{{m.values['userID']}}/icon.jpg') 50% 50% no-repeat; margin-bottom: 15px; background-size: cover; border-radius: 50%; padding-bottom: 100%"></div>
            </td>
            <td class="post_info text_{{theme}}">
              <span id="content_{{m.values['id']}}">
                {{safe m.get_content()}}
              </span>
              <!-- Add button if you are the message's owner, the admin, or a moderator and the message is not by the admin -->
              {% if user and (user.values['id'] == m.get_user().values['id'] or (user.is_moderator() and m.get_user().values['id'] != 1)) %}
                <button class="edit_button_{{theme}} edit_button text_{{theme}}" type="button" onclick="editMessage(event)">Edit</button>
                <button class="edit_button_{{theme}} edit_button text_{{theme}}" id="delete_check" type="button" onclick="deleteMessage(event)">Delete</button>

                <div id="confirm_screen_{{m.values['id']}}" class="delete_hider tutorial_box_{{theme}}">
                  <h2 style="text-align: center;" class="text_{{theme}}">Are you sure?</h2>
                  <button style="display: block; margin: 5px auto" class="edit_button edit_button_{{theme}} text_{{theme}}" id="confirm" type="button" onclick="deleteMessage(event)">Delete</button>
                  <button style="display: block; margin: 0 auto" class="edit_button edit_button_{{theme}} text_{{theme}}" id="cancel_del" type="button" onclick="deleteMessage(event)">Cancel</button>
                </div>
              {% end if %}
              <hr>
              <div style="overflow-y: scroll; height: 50px">
                {{m.get_user().values['signature']}}
              </div>
            </td>
          </tr>
        </table>
        <div class="hider" id="hider_{{m.values['id']}}"></div>
      </div>
      {% end for %}

      {% if user %}
        <form>
          <div class="tutorial_box tutorial_box_{{theme}}" id="post_creator">
            <h3 class="tutorial_title tutorial_title_{{theme}} sidebar_button_{{theme}} text_{{theme}}">Post a message</h3>
            <table>
              <tr>
                <td class="user_detail header_{{theme}}">
                  <p class="text_sized text_{{theme}}" style="overflow-wrap: break-word">{{user.values['username']}}</p>
                  <div style="background: url('/static/img/user/{{user.values['id']}}/icon.jpg') 50% 50% no-repeat; background-size: cover; border-radius: 50%; padding-bottom: 100%"></div>
                </td>
                <td class="post_info">
                  <textarea class="text_{{theme}} textarea_{{theme}}" id="reply_content" placeholder="Enter reply..." name="reply_content"></textarea>
                  <button class="sidebar_button_{{theme}} edit_button edit_button_{{theme}} text_{{theme}}" type="button" onclick="postForumMessage()">Post</button>
                </td>
              </tr>
            </table>
          </div>
        </form>
      {% end if %}

    <br>
  </article>
</body>
</html>
