{%include header.html%}
  <link rel="stylesheet" href="/static/css/tutorial_index.css">
  <article>
    {% if user and user.is_moderator() %}
    <form name="topic_form" method="POST" enctype="multipart/form-data" action="/create_tutorial">
      <label for="tutorial_uploader">
        <input type="file" name="tutorial_uploader" id="tutorial_uploader" multiple style="display: none;" accept="text/plain"></input>
        <a class="sidebar_button_{{theme}}" style="text-align: center; display: block; width: 100%; padding: 20px 0">Upload Tutorial</a>
      </label>
    </form>
    <script>
    document.getElementById('tutorial_uploader').onchange = function(e) {
      input = e.target;
      if (input.files.length > 0) {
        document.topic_form.submit();
      }
    }
    </script>
    {% end if %}

    {%for a in range(len(topics))%}
      <i>
        <h1 class="text_{{theme}}" style="text-decoration: underline;">Topic {{a+1}}:</h1>
      </i>


      {%for tutorial in topics[a]%}
        <div class="tutorial_box tutorial_box_{{theme}}">
          <h2 class="text_{{theme}} tutorial_title">{{tutorial.values['title']}}</h2>
          <p class="text_{{theme}}" style="font-size: 10pt; margin: 0; margin-left: 10px;">{{tutorial.values['format_date']}}</p>
          <div class="text_{{theme}} tutorial_preview">
            {{safe tutorial.get_preview()}}
          </div>
          <a class="tutorial_link tutorial_link_{{theme}}" href="/tutorial/{{tutorial.values['id']}}/">
            <h3 style="position: absolute;bottom: 0;width: 100%;text-align: center">View More</h3>
          </a>
        </div>
      {%end for%}
    {%end for%}
  </article>
</body>
</html>
