{%include header.html%}
  <link rel="stylesheet" href="/static/css/tutorial.css">
  <script src="/static/js/tutorial.js"></script>
  <article>
    <span class="text_{{theme}}" style="display:block; width: 80%; margin: 0 auto; text-align: left">
      {{safe tutorial.get_content()}}
    </span>
    {% if user and user.is_moderator() %}
      <button type="button" class="sidebar_button_{{theme}}" style="padding: 10px 100px" onclick="deleteTutorial(event)">Delete Tutorial</button>
    {% end if %}
    <i>
      <h3 class="text_{{theme}}" style="text-decoration: underline;">Comments:</h3>
    </i>

    {% if not user %}
      <div class="comment comment_{{theme}}">
        <h2 style="text-align: center; vertical-align: middle;">Login to comment</h2>
      </div>
    {% end if %}

    {% if user %}
      <div class="comment comment_{{theme}}">
        <table>
          <tr>
            <td class="img_td">
              <div style="background: url('/static/img/user/{{user.values['id']}}/icon.jpg') 50% 50% no-repeat; background-size: cover; border-radius: 50%; padding-bottom: 100%"></div>
            </td>
            <td style="padding-top: 10px; vertical-align: middle">
              <h3 class="text_{{theme}}" style="margin-bottom: 0px;">{{user.values['username']}}</h3>
              <p style="margin: 5px"></p>
            </td>
          </tr>
        </table>
        <form>
          <p class="text_{{theme}}">
            <textarea class="text_{{theme}} textarea_{{theme}}" id="reply_content" placeholder="Enter comment..." name="reply_content"></textarea>
            <button id="comment_button" class="edit_button edit_button_{{theme}} sidebar_button_{{theme}} text_{{theme}}" type="button" onclick="postComment()">Post</button>
          </p>
        </form>
        <div id="hider" class="hider_{{theme}}"></div>
      </div>

    {% end if %}

    <hr id="comm_sep">

    {%for comment in comments%}
      <div class="comment comment_{{theme}}">
        <table>
          <tr>
            <td class="img_td">
              <div style="background: url('/static/img/user/{{comment[1].values['id']}}/icon.jpg') 50% 50% no-repeat; background-size: cover; border-radius: 50%; padding-bottom: 100%"></div>
            </td>
            <td style="text-align: left; padding-top: 10px; vertical-align: top">
              <h3 class="text_{{theme}}" style="margin-bottom: 0px;">{{comment[1].values['username']}}</h3>
              <p class="text_{{theme}}" style="margin: 5px">{{comment[0].values['format_date']}}</p>
            </td>
          </tr>
        </table>
        <span id="content_{{comment[0].values['id']}}" class="text_{{theme}}">
          {{safe comment[0].get_content()}}
        </span>
        {% if user and (user.values['id'] == comment[0].values['userID'] or user.is_moderator()) %}
          <button class="edit_button edit_button_{{theme}} text_{{theme}}" type="button" onclick="editComment(event)">Edit</button>
          <button class="edit_button edit_button_{{theme}} text_{{theme}}" id="delete_check" type="button" onclick="deleteComment(event)">Delete</button>

          <div id="confirm_screen_{{comment[0].values['id']}}" class="hider hider_{{theme}}">
            <h2 style="text-align: center;" class="text_{{theme}}">Are you sure?</h2>
            <button style="display: block; margin: 5px auto" class="edit_button edit_button_{{theme}} text_{{theme}}" id="confirm" type="button" onclick="deleteComment(event)">Delete</button>
            <button style="display: block; margin: 0 auto" class="edit_button edit_button_{{theme}} text_{{theme}}" id="cancel_del" type="button" onclick="deleteComment(event)">Cancel</button>
          </div>
        {% end if %}
        <div id="hider_{{comment[0].values['id']}}" class="hider hider_{{theme}}"></div>
      </div>
    {%end for%}
  </article>
</body>
</html>
